html, body{
    font-family: 'Times New Roman', Times, serif;   
}
.container{
    width: 1440px;
}

.firstContainer {
    width: 1100px;
    min-width: max-content;
}

.bg-primary {
    background-color: #f0addb !important;
    font-style:italic;

}

.bnt-dark{
    border-radius: 7px;
    border-color: #dd90c5;
}

.tulip{
    height: 24px;
    margin-bottom: 6px;
    /* width: 20px; */
}

#column1{
    border: double;
    border-color: #f0addb;
}



.scrollspyhome{
    position: relative;
    overflow: auto;
    height: 300px;
}
.card-rodape-empresa{
    font-size: 0.7rem;
}